.card-pl {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:22fcc34c-f211-4053-8bb2-4081e290c0c3;version=0?component_id=5bf9e3dd-7bb1-4ac5-89a6-ed81fcd1cd0a&api_key=CometServer1&access_token=1602193117_urn%3Aaaid%3Asc%3AUS%3A22fcc34c-f211-4053-8bb2-4081e290c0c3%3Bpublic_58b5637a029408577c2912aa4bd875ca339e5dd5);

  width: 188px;
  height: 128px;
  position: fixed;
}

.card-pl-text {
  display: grid;
  place-items: center;
  background-color: rgba(56, 61, 67, 0.2);

  font-family: "Circular Std Book", sans-serif;
  color: #eeeeee;
  text-align: left;
  width: 100%;
  height: 50%;
}

.title-pl {
  margin: 0;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.28px;
}

.subline-pl {
  margin: 0;
  font-size: 11px;
  color: #c1c0c0;
}
