.btn {
  border-radius: 12px;
  font-size: 9px;
  color: white;
  border: none;
  padding: 10px 20px;

  display: flex;
  align-items: center;

  top: 299px;
  left: 54px;
  width: 75px;
  height: 23px;
}

.btn > * {
  margin-left: 10px;
}

.btn > img {
  top: 304px;
  left: 74px;
  width: 11px;
  height: 13px;
}

.btn > span {
  top: 304px;
  left: 93px;
  width: 15px;
  height: 11px;

  text-align: left;
  letter-spacing: 0.16px;
}

.btn-primary {
  background-image: linear-gradient(#ed8770, #d9519d);
}
