.btn {
  border-radius: 12px;
  font-size: 9px;
  color: white;
  border: none;
  padding: 5px 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* top: 299px;
  left: 54px; */
}

.btn > img {
  margin-right: 5px;
  width: 13px;
  height: 13px;
}

.btn > span {
  /* width: 15px;
  height: 11px; */

  text-align: left;
  letter-spacing: 0.16px;
}

.btn-primary {
  /* width: 75px;
  height: 23px; */
  background-image: linear-gradient(#ed8770, #d9519d);
}

.btn-basic {
  background: none;
  border: 1px solid #ffffff;
}
