<div class="app-layout">
  <header class="header"><h2>Settings</h2></header>

  <div class="menu-list">Settings-List</div>

  <nav class="nav-bottom">
    <div class="item">
      <img src="../../assets/home-icon-grey.svg" alt="Home icon grey" />
      <div class="text">Home</div>
    </div>
    <div class="item">
      <img src="../../assets/music-icon-grey.svg" alt="Music icon grey" />
      <div class="text">Songs</div>
    </div>
    <div class="item">
      <img
        src="../../assets/settings-icon-colored.svg"
        alt="Settings icon active"
      />
      <div class="text-active">Settings</div>
    </div>
  </nav>
</div>
