.nav-bottom {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 67px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  font-family: "Circular Std Book", sans-serif;
  font-size: 10px;
  color: #63666e;
  padding-top: 6px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
