.nav-bottom {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 67px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -5px 10px 1px black;
}

.text-active {
  color: #d9519d;
  font-family: "Circular Std Book", sans-serif;
  font-size: 10px;
  padding-top: 6px;
}

.text {
  font-family: "Circular Std Book", sans-serif;
  font-size: 10px;
  color: #63666e;
  padding-top: 6px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item:first-of-type {
  margin-left: 10px;
}

.item:last-of-type {
  margin-right: 10px;
}
